{% extends 'Blog/base.html' %}
{% load static %}

{% block content %}

<a
    href="{% url 'FormBlog' %}"
    class="btn btn-primary mb-4">

    Crear Blog

</a>


<a
    href="{% url 'tags-admin' %}"
    class="btn btn-warning mb-4">

    Administrar categorías

</a>


<form method="GET">

    <div class="row mb-4">

        <div class="col-md-4">

            <input
                type="text"
                name="q"
                value="{{ query }}"
                placeholder="Buscar..."
                class="form-control">

        </div>


        <div class="col-md-3">

            <select
                name="order"
                class="form-select">

                <option
                    value="desc"
                    {% if order == 'desc' %}
                        selected
                    {% endif %}>

                    Más recientes

                </option>


                <option
                    value="asc"
                    {% if order == 'asc' %}
                        selected
                    {% endif %}>

                    Más antiguos

                </option>

            </select>

        </div>


        <div class="col-md-2">

            <button
                class="btn btn-primary">

                Filtrar

            </button>

        </div>

    </div>

</form>


<div class="row">

{% for blog in blogs %}

    <div class="col-md-4">

        <div class="card mb-4 shadow h-100 blog-card">


            {% if blog.imagen_portada %}

                <img
                    src="{{ blog.imagen_portada.url }}"
                    class="card-img-top"
                    style="height:220px; object-fit:cover;">

            {% else %}

                <img
                    src="{% static 'images/default.png' %}"
                    class="card-img-top"
                    style="height:220px; object-fit:cover;">

            {% endif %}


            <div class="card-body text-dark">

                <h4>

                    {{ blog.titulo }}

                </h4>


                <p>

                    {{ blog.subtitulo }}

                </p>


                <small class="text-muted">

                    Por {{ blog.autor }}

                </small>


                <br><br>


                {% for tag in blog.tags.all %}

                    <span class="badge bg-info">

                        {{ tag.name }}

                    </span>

                {% endfor %}


                <br><br>


                <a
                    href="{% url 'blog' blog.blog_id %}"
                    class="btn btn-dark w-100">

                    Leer blog

                </a>

            </div>

        </div>

    </div>

{% endfor %}

</div>


<nav>

    <ul class="pagination justify-content-center">


        {% if blogs.has_previous %}

            <li class="page-item">

                <a
                    class="page-link"
                    href="?page={{ blogs.previous_page_number }}&order={{ order }}&q={{ query }}">

                    Anterior

                </a>

            </li>

        {% endif %}


        <li class="page-item active">

            <span class="page-link">

                {{ blogs.number }}

            </span>

        </li>


        {% if blogs.has_next %}

            <li class="page-item">

                <a
                    class="page-link"
                    href="?page={{ blogs.next_page_number }}&order={{ order }}&q={{ query }}">

                    Siguiente

                </a>

            </li>

        {% endif %}


    </ul>

</nav>

{% endblock %}