{% extends 'Blog/base.html' %}

{% block content %}

<div class="card">

    <div class="card-body text-dark">

        <h3>

            ¿Eliminar blog?

        </h3>

        <p>

            "{{ blog.titulo }}"

        </p>

        <form method="POST">

            {% csrf_token %}

            <button
                class="btn btn-danger">

                Eliminar

            </button>


            <a
                href="{% url 'blog' blog.blog_id %}"
                class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

{% endblock %}